---
import { GLOBAL } from "../lib/variables";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Section from "../components/common/Section.astro";
---

<Layout>
  <Fragment slot="head">
    <title>About • {GLOBAL.username}</title>
    <meta name="description" content="Learn more about pdx osr." />
  </Fragment>
  <Section class="container mx-auto mt-16 mb-8 p-8 rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mb-4 shadow-md">About PDX OSR</h1>
    <p class="text-lg leading-relaxed mb-4">
      <strong>Welcome to PDX OSR</strong>, a community of folks in Portland,
      Oregon who, at the most basic level, enjoy playing a variety of Role
      Playing Games often centered around “Old School” styled gaming - usually
      focusing on Dungeons and Dragons (D&D) in its various early forms or
      similar roleplaying games either from or inspired by the early play motifs
      of the era. Though the OSR is often “dungeon game” focused it is foolish
      to ignore the huge variety of RPGs that capture the essence of early
      roleplaying products and the development of the hobby. The nature of what
      “old school” means and what the <strong>“R”</strong> in <strong
        >OSR</strong
      > is remains under endless and entertaining debate, largely due to the disconnected
      forum based nature of the OSR’s inception where there was a general response
      to the “modern” (3rd Edition D&D at the time!) game being forcefully inserted
      into the state of play in an overly codified manner. Character building and
      adherence to numerical balance took the fore instead of the gameplay of earlier
      editions where gameplay focused on exploration, decision making, and roleplay.
      One cannot do better than point nascent readers towards Matthew Finch’s ‘A
      Quick Primer for Old-School Playing’ and the four Zen Moments within to help
      unlock the door to the OSR ethos. I paraphrase, but they are…
    </p>
    <div class="border-2 mt-4 p-4 rounded-lg">
      <blockquote class="text-left pl-4 text-gray-200 italic">
        rulings over rules
      </blockquote>
      <blockquote class="text-left pl-4 text-gray-200 italic">
        player actions over character abilities
      </blockquote>
      <blockquote class="text-left pl-4 text-gray-200 italic">
        heroic, but not super-heroic
      </blockquote>
      <blockquote class="text-left pl-4 text-gray-200 italic">
        no expectations of balance in difficulty
      </blockquote>
    </div>

    <p class="mt-4 text-lg leading-relaxed mb-4">
      There is a deep and fascinating history of roleplaying game development
      that is slowly fading into history that fans of old school styled gaming
      may have grown up with or recently discovered - various good moves and
      missteps, improvements on design vs heretical overwriting of previously
      “perfected” expressions of rules - the OSR encompasses much of this
      history but is not strictly defined by it. Many still play the exact same
      game they have been playing since its original inception (start date
      varying by system of choice) with no issues, finding endless ways to share
      stories at a table with friends using comfortable rules (or lack thereof).
      Many others explore older systems to interrogate and understand the wisdom
      of early design attempts, re-formalizing these learnings into a manner of
      play that suits their taste - taking from here and there what they will to
      craft their own style of play.
    </p>

    <p class="mt-4 text-lg leading-relaxed mb-4">
      Players introduced to RPGs using modern systems often find a great deal of
      joy when encountering the OSR, shaking free from the shackles of the
      monolithic entity todays “D&D” has become where its not only expected but
      rigidly enforced that there is “one way ” to play the game with a
      meta-culture that exists outside of the simple idea of gathering with
      friends to engage in entertaining roleplay adventure. Some feel that OSR
      entails only previously released games from a certain era, while some feel
      that OSR gaming is the spirit of the early years. Suffice to say that
      there are many definitions and interested parties - they all share, at the
      core, an act of gathering to share a communal fictional hallucination,
      often using dice to provide random elements to the story.
    </p>
    <p class="mt-4 text-lg leading-relaxed mb-4">
      Fast forward to 2025 where multiple new editions of Dungeons and Dragons
      have come and gone, what is “modern” is a shifting landscape, and the OSR
      has also spawned the even more neubulous New School Renaissance (NSR) that
      often focuses on extremely rules light gameplay and often re-digests and
      presents new visions of what some in the OSR may consider sacred cows… New
      landscapes beckon to those who dare, etc. Today we live in a golden age of
      games pluralism with a healthy respect for the roots of the hobby without
      an innate need to universally adhere to specific incarnations of codified
      systems for roleplaying - that is what PDX OSR as a community attempts to
      engender, if I may be so bold to say so without assuming all folks
      involved agree in totality.
    </p>
    <p class="mt-4 text-lg leading-relaxed mb-4">
      One important aspect of this mode of being is sharing with others our
      thoughts, ideas, adventures, scenarios, etc, without expressing them as
      ground-truth or running afoul of accusing others of having bad fun or
      harboring wrong think. This does not mean everyone agrees or that
      vociferous opinions are not held, but that we accept and encourage
      exploration of various expressions of “how to play roleplaying games” .
      The early years of the hobby involved a robust zine and amateur press
      association (APA) culture where various contributors presented part of
      their vision and engaged in discussion - this is ongoing today in the OSR
      and NSR scenes, and you hold in your hands just one of many such
      issuances. What is old is new, and what is new is old - whatever your
      preferences for system or setting or style of play, we hope you continue
      exploring and growing your toolkit as a game-runner or player - hopefully
      some of the material within will lead you to adventure and new frontiers!
    </p>
  </Section>
</Layout>
