---
import { GLOBAL } from "../lib/variables";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Section from "../components/common/Section.astro";
---

<Layout>
  <Fragment slot="head">
    <title>About PDX OSR</title>
    <meta
      name="description"
      content="Learn about PDX OSR, a Portland, Oregon community passionate about Old School Renaissance (OSR) role-playing games. Discover classic D&D and similar systems."
    />
  </Fragment>
  <Section class="container mx-auto mt-16 mb-8 p-8 rounded-lg shadow-lg">
    <h1
      class="text-3xl sm:text-4xl font-display font-semibold opsz text-center sm:text-left"
    >
      About PDX OSR
    </h1>
    <h2 class="text-gray-400 text-xl my-4 italic">
      Portland Old School Renaissance | Revival
    </h2>
    <p class="text-lg leading-relaxed mb-4">
      <strong>Welcome to PDX OSR</strong>, a community in Portland, Oregon, that
      enjoys playing a variety of role-playing games, often centered around Old
      School Renaissance (OSR) gaming. This typically focuses on Dungeons and
      Dragons (D&D) in its various early forms, or similar roleplaying games
      inspired by the early play styles of the era. While the OSR is often
      associated with "dungeon games," it embraces a wide variety of RPGs that
      capture the essence of early roleplaying and the hobby's development.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      The nature of what "old school" means and what the <strong>"R"</strong> in
      <strong>OSR</strong> represents remains a topic of endless and entertaining
      debate, largely due to the OSR’s disconnected, forum-based origins. The OSR
      arose from a general response to the "modern" (3rd Edition D&D at the time!)
      game, which was perceived as being forcefully inserted into the state of play
      in an overly codified manner. Character building and adherence to numerical
      balance took precedence over the gameplay of earlier editions, which emphasized
      exploration, decision-making, and roleplay.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      New readers are encouraged to explore Matthew Finch’s ‘A Quick Primer for
      Old-School Playing’ and the four Zen Moments within, which help unlock the
      door to the OSR ethos. To paraphrase, they are:
    </p>
    <div class="border-2 mt-4 p-4 rounded-lg">
      <blockquote class="text-left pl-4 text-gray-200 italic">
        Rulings over rules
      </blockquote>
      <blockquote class="text-left pl-4 text-gray-200 italic">
        Player actions over character abilities
      </blockquote>
      <blockquote class="text-left pl-4 text-gray-200 italic">
        Heroic, but not super-heroic
      </blockquote>
      <blockquote class="text-left pl-4 text-gray-200 italic">
        No expectations of balance in difficulty
      </blockquote>
    </div>

    <p class="mt-4 text-lg leading-relaxed mb-4">
      There is a deep and fascinating history of roleplaying game development
      that is slowly fading. Fans of old-school styled gaming may have grown up
      with it or recently discovered it through various good moves and missteps,
      improvements in design versus heretical overwriting of previously
      “perfected” expressions of rules. The OSR encompasses much of this history
      but is not strictly defined by it. Many still play the exact same game
      they have been playing since its original inception (with the start date
      varying by system of choice), finding endless ways to share stories at a
      table with friends using comfortable rules (or a lack thereof).
    </p>
    <p class="text-lg leading-relaxed mb-4">
      Many others explore older systems to interrogate and understand the wisdom
      of early design attempts, re-formalizing these learnings into a manner of
      play that suits their taste, taking from here and there what they will to
      craft their own style of play.
    </p>

    <p class="mt-4 text-lg leading-relaxed mb-4">
      Players introduced to RPGs using modern systems often find great joy when
      encountering the OSR, breaking free from the constraints of the monolithic
      entity that today’s “D&D” has become. It’s not only expected but rigidly
      enforced that there is “one way” to play the game, with a meta-culture
      that exists outside the simple idea of gathering with friends to engage in
      entertaining roleplay adventure.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      Some feel that OSR entails only previously released games from a certain
      era, while others feel that OSR gaming embodies the spirit of the early
      years. Let it be said that there are many definitions and interested
      parties. They all share, at their core, an act of gathering to share a
      communal fictional hallucination, often using dice to provide random
      elements to the story.
    </p>
    <p class="mt-4 text-lg leading-relaxed mb-4">
      Fast forward to 2025, where multiple new editions of Dungeons and Dragons
      have come and gone. What is “modern” is a shifting landscape, and the OSR
      has also spawned the even more nebulous New School Renaissance (NSR),
      which often focuses on extremely rules-light gameplay and re-digests and
      presents new visions of what some in the OSR may consider sacred cows.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      New landscapes beckon to those who dare. Today, we live in a golden age of
      game pluralism with a healthy respect for the roots of the hobby, without
      an innate need to universally adhere to specific incarnations of codified
      systems for roleplaying. PDX OSR, as a community, aims to foster this
      spirit, and I hope I may be so bold as to say so without assuming all
      folks involved agree in totality.
    </p>
    <p class="mt-4 text-lg leading-relaxed mb-4">
      One important aspect of this mode of being is sharing our thoughts, ideas,
      adventures, scenarios, etc., with others without expressing them as ground
      truth or accusing others of having bad fun or harboring wrong think. This
      does not mean everyone agrees or that vociferous opinions are not held,
      but that we accept and encourage exploration of various expressions of
      “how to play roleplaying games.”
    </p>
  </Section>
</Layout>
