---
import { GLOBAL } from "../lib/variables";
import Anchor from "./common/Anchor.astro";
import Section from "./common/Section.astro";
import Button from "../components/Button.astro";

const date = new Date();
const year = date.getFullYear();
---

<footer class="mt-16 mb-8">
  <Section class="mb-4">
    <div
      class="zag-border-b zag-transition pb-4 flex flex-row sm:flex-row sm:flex-nowrap justify-between gap-8 sm:items-center"
    >
      <ul class="flex flex-row gap-2">
        {
          Object.entries(GLOBAL.menu).map((i) => (
            <li>
              <Anchor url={i[1]}>{i[0]}</Anchor>
            </li>
          ))
        }
      </ul>
      <div class="flex flex-row gap-5">
        <a href="https://discord.gg/tqKrfWCDYx">
          <buton>Discord</buton>
        </a>
        <a href="https://heylo.group/pdx-osr">
          <buton>Heylo</buton>
        </a>
      </div>
    </div>
  </Section>
  <p class="zag-text zag-transition text-center text-sm font-medium">
    &copy; {year}
    {GLOBAL.username}. All rights reserved.
  </p>
</footer>
